board: PibotV4.7B
name: CNCTemp
meta:
stepping:
  engine: I2S_STATIC
  idle_ms: 255
  pulse_us: 4
  dir_delay_us: 10
  disable_delay_us: 0
  segments: 12

i2so:
  bck_pin: gpio.22
  data_pin: gpio.21
  ws_pin: gpio.17

# display
i2c0:
   sda_pin: gpio.25
   scl_pin: gpio.27
   frequency: 100000

oled:
   i2c_num: 0
   i2c_address: 60
   width: 128
   height: 64
   radio_delay_ms: 5000
# display end

# airedale
uart2:
  #txd_pin: gpio.25
  #rxd_pin: gpio.27
  txd_pin: gpio.4 #gpio.25
  rxd_pin: gpio.12 #gpio.27

  baud: 1000000
  mode: 8N1
  passthrough_baud: 57600
  passthrough_mode: 8E1

uart_channel2:
  report_interval_ms: 0
  uart_num: 2

# airedale end


# spindle
#uart1:
#  txd_pin: gpio.15
#  rxd_pin: gpio.16
#  rts_pin: gpio.14
#  baud: 9600
#  mode: 8N2

#MK100:
#  uart_num: 1
#  modbus_id: 1
#  tool_num: 0
#  speed_map: 0=0% 0=25% 6000=25% 24000=100%
#  off_on_alarm: false
#  retries: 3
#  debug: 2
#  spinup_ms: 20000
#  spindown_ms: 20000
## endspindle


spi:
  miso_pin: gpio.19
  mosi_pin: gpio.23
  sck_pin: gpio.18


sdcard:
  card_detect_pin: NO_PIN
  cs_pin: gpio.5
  frequency_hz: 8000000


kinematics:
  Cartesian:

axes:
  shared_stepper_disable_pin: NO_PIN
  shared_stepper_reset_pin: NO_PIN
  homing_runs: 2
  x:
    steps_per_mm: 80.000000
    max_rate_mm_per_min: 1000.000000
    acceleration_mm_per_sec2: 25.000000
    max_travel_mm: 1000.000000
    soft_limits: false
    motor0:
      limit_neg_pin: NO_PIN
      limit_pos_pin: NO_PIN
      limit_all_pin: NO_PIN
      hard_limits: false
      pulloff_mm: 1.000000
#      standard_stepper:
#        step_pin: I2SO.5
#        direction_pin: I2SO.4
#        disable_pin: I2SO.7:low
      standard_stepper:
        step_pin: I2SO.18
        direction_pin: I2SO.17
        disable_pin: I2SO.16:low

  y:
    steps_per_mm: 640.000000
    max_rate_mm_per_min: 1000.000000
    acceleration_mm_per_sec2: 25.000000
    max_travel_mm: 350.000000
    soft_limits: false
    motor0:
      limit_neg_pin: NO_PIN
      #limit_neg_pin: gpio.2:low
      limit_pos_pin: gpio.2:low:pu
      limit_all_pin: NO_PIN
      hard_limits: true
      #hard_limits: false
      pulloff_mm: 1.000000
#      standard_stepper:
#        step_pin: I2SO.2
#        direction_pin: I2SO.1
#        disable_pin: I2SO.0:low
      standard_stepper:
        step_pin: I2SO.13
        direction_pin: I2SO.12:low
        disable_pin: I2SO.15
    homing:
      cycle: 2
      allow_single_axis: true
      positive_direction: true
      #mpos_mm: 1.000
      seek_mm_per_min: 200
      feed_mm_per_min: 50
      seek_scaler: 1
      feed_scaler: 1

  z:
    steps_per_mm: 80.000000
    max_rate_mm_per_min: 1000.000000
    acceleration_mm_per_sec2: 25.000000
    max_travel_mm: 1000.000000
    soft_limits: false
    motor0:
      limit_neg_pin: NO_PIN
      limit_pos_pin: NO_PIN
      limit_all_pin: NO_PIN
      hard_limits: false
      pulloff_mm: 1.000000
#      standard_stepper:
#        step_pin: I2SO.10
#        direction_pin: I2SO.9
#        disable_pin: I2SO.8:low
      standard_stepper:
        step_pin: I2SO.21
        direction_pin: I2SO.20
        disable_pin: I2SO.23:low

control:
  safety_door_pin: NO_PIN
  reset_pin: NO_PIN
  feed_hold_pin: NO_PIN
  cycle_start_pin: NO_PIN
  macro0_pin: NO_PIN
  macro1_pin: NO_PIN
  macro2_pin: NO_PIN
  macro3_pin: NO_PIN
  fault_pin: NO_PIN
  estop_pin: NO_PIN

coolant:
  flood_pin: NO_PIN
  mist_pin: NO_PIN
  delay_ms: 0

probe:
  pin: NO_PIN
  toolsetter_pin: NO_PIN
  check_mode_start: true
  hard_stop: false

macros:
  startup_line0:
  startup_line1:
  Macro0:
  Macro1:
  Macro2:
  Macro3:
  after_homing:
  after_reset:
  after_unlock:

start:
  must_home: false
  deactivate_parking: false
  check_limits: true

parking:
  enable: false
  axis: Z
  target_mpos_mm: -5.000000
  rate_mm_per_min: 800.000000
  pullout_distance_mm: 5.000000
  pullout_rate_mm_per_min: 250.000000

user_outputs:
  analog0_pin: NO_PIN
  analog1_pin: NO_PIN
  analog2_pin: NO_PIN
  analog3_pin: NO_PIN
  analog0_hz: 5000
  analog1_hz: 5000
  analog2_hz: 5000
  analog3_hz: 5000
  digital0_pin: uart_channel2.8
  digital1_pin: uart_channel2.9
  digital2_pin: uart_channel2.10
  digital3_pin: uart_channel2.11
  digital4_pin: uart_channel2.12
  digital5_pin: uart_channel2.13
  digital6_pin: uart_channel2.14
  digital7_pin: uart_channel2.15

user_inputs:
  analog0_pin: NO_PIN
  analog1_pin: NO_PIN
  analog2_pin: NO_PIN
  analog3_pin: NO_PIN
  digital0_pin: NO_PIN
  digital1_pin: NO_PIN
  digital2_pin: NO_PIN
  digital3_pin: NO_PIN
  digital4_pin: NO_PIN
  digital5_pin: NO_PIN
  digital6_pin: NO_PIN
  digital7_pin: NO_PIN

arc_tolerance_mm: 0.002000
junction_deviation_mm: 0.010000
verbose_errors: true
report_inches: false
enable_parking_override_control: false
use_line_numbers: false
planner_blocks: 16


